:host{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
button{
    align-self: flex-start;
}
form{
    display: flex;
    flex-direction: column;
    gap: 16px
}
table{
    text-align: left;
    thead{
        background: #5b9bd5;
        color: #fff;
        th{
            padding: 4px;
        }
    }
    tr{
        background: #d2deef;
        &.odd{
            background: #eaeff7;
        }
        td{
            padding: 4px;
        }
    }
}

input{
    background: transparent;
    border: none;
}

.input-overlay-wrapper{
    position: relative;
    &:focus-within{
        .overlay{
            display: block;
        }
    }
}
.overlay{
    display: none;
    position: absolute;
    bottom: -10px;
    transform: translateY(100%);
    z-index: 2;
}