:host{
    margin-top: 50px;
    width: 100%;
    padding: 0 100px;
    display: flex;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
button{
    align-self: flex-start;
}
form{
    display: flex;
    flex-direction: column;
    gap: 16px
}
table{
    text-align: left;
    thead{
        background: #5b9bd5;
        color: #fff;
        th{
            padding: 4px;
            font-weight: 500;
        }
    }
    tr{
        background: #d2deef;
        &.odd{
            background: #eaeff7;
        }
        td{
            padding: 4px;
            &:has([disabled]){
                opacity: .5;
            }
        }
        .td-error{
            color: rgb(121, 0, 0);
            font-weight: 500;
            display: table-cell;
            font-size: 14px;
        }
        &:focus-within{
            .td-error{
                display: none;
            }
        }
        &.ng-touched.ng-invalid{
            &:not(:focus-within){
                background: #efd2d2;
                transition: background .5s;
            }
        }
    }
}

input{
    background: transparent;
    border: none;
}

.input-overlay-wrapper{
    position: relative;
    &:focus-within{
        .overlay{
            display: block;
        }
    }
}
.overlay{
    display: none;
    position: absolute;
    bottom: -10px;
    transform: translateY(100%);
    z-index: 2;
}

mat-form-field{
    width: 200px;
}