<div class="wrapper">
    <button (click)="addRow()" class="button-add">+ Add Row</button>
    @if(formArray.controls.length > 0){
        <form [formGroup]="form">
            <table>
                <thead>
                    <th>Employee Name</th>
                    <th>Employee Id</th>
                    <th>Type A Amount</th>
                    <th>Type B Amount</th>
                </thead>
                <tbody>
                    @for(row of form.controls['employees'].controls;let i = $index; track i){
                        <tr class="row" [class.odd]="$odd" [formGroup]="row">
                            <td class="input-overlay-wrapper">
                                <input 
                                    type="text"
                                    formControlName="employee_name"
                                    autocomplete="off"
                                    (click)="nameOverlay.results = filterResults($event)"
                                    (keyup)="nameOverlay.results = filterResults($event)"
                                    [id]="'employee_name'+i" 
                                >
                                <app-search-results-overlay
                                    #nameOverlay
                                    (employeeSelected)="onEmployeeSelect($event, i)" 
                                    class="overlay" 
                                /> 
                            </td>
                            <td class="input-overlay-wrapper">
                                <input 
                                    type="text"
                                    formControlName="employee_id"
                                    (click)="idOverlay.results = filterResults($event)"
                                    (keyup)="idOverlay.results = filterResults($event)"
                                    [id]="'employee_id'+i" 
                                >
                                <app-search-results-overlay
                                    #idOverlay
                                    (employeeSelected)="onEmployeeSelect($event, i)" 
                                    class="overlay" 
                                /> 
                            </td>
                            <td>
                                <input formControlName="TypeA_Amount" min="0" type="number" [id]="'type_a_amount'+i">
                            </td>
                            <td>
                                <input formControlName="TypeB_Amount" min="0" type="number" [id]="'type_b_amount'+i">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button (click)="submit()" type="submit">Submit</button>
        </form>
    }
</div>
